/*!
	-----------------------------------------------------------------------------

	2.0 - Views
			# Listados

	-----------------------------------------------------------------------------
	*/

/*  Views
	======================================= */

.actas-retencion-create

	h2.title-gral
		@extend .fs-34
		@extend .fw-regular
	
	.actas-retencion-create
		background-color: $white
		border-radius: 4px
		box-shadow: 0 2px 4px 0 rgba($black,.3)
		margin: 32px auto
		// max-width: 80%
		padding: 24px
		// width: 640px
		width: 100%


.marcas-productos-view,
.outfits-view,
.productos-view

	.list-actions
		align-items: center
		display: flex
		justify-content: flex-end
		width: 100%
		.btn
			// &:last-child
			margin-left: 8px
			&.btn-danger
				min-width: 34px
				padding-left: 0
				padding-right: 0

	.list-panel
		background-color: red
		padding: 32px 0 0

		.list-panel-sub-title
			margin-bottom: 16px
			h4,
			span
				display: inline-block
				@extend .text-up

			h4
				@extend .fs-20
				@extend .fw-bold

			span
				@extend .fs-18
				@extend .fw-light

		img.list-panel-img-responsive
			max-width: 100%

		
			

.productos-view
	.list-panel
		.panels
			position: relative
			margin-bottom: 2.143rem
			@extend .bg-f
			border: 0 solid transparent
			border-radius: .286rem
			box-shadow: 0 1px 2px 0 rgba($black,.3)
			.panels-heading
				padding: 24px 24px
				h2.panels-title
					@extend .fs-18
					@extend .fw-bold
			.panels-body
				padding: 0 24px 16px
				p
					@extend .color-gray-600
					@extend .fs-16
					@extend .fw-regular
					b
						@extend .color-gray-400
						@extend .fs-16
						@extend .fw-bold
						margin-bottom: 4px
						margin-right: 4px

				.container-images
					form
						.card
							.card-header
								position: relative
								.dropify-wrapper
									border: none
									position: relative
									z-index: 2
								.btn.btn-remove,
								.btn.btn-add
									position: absolute
									z-index: 6
								.btn.btn-remove
									border-radius: 50%
									display: none
									height: 30px
									min-width: 30px
									padding: 0
									right: 20px
									top: 20px
									width: 30px
									&:hover
										display: block
								.btn.btn-add
									bottom: 0
									left: 0
									right: 0
									width: 100%


								.dropify-wrapper
									&:hover + .btn-remove
										display: block

				.table-stock,
				.table-productos-relacionados
					// background-color: red
					thead
						tr
							th
								color: $font-color
								@extend .fs-13
								@extend .fw-bold
								padding: 8px 4px
								text-transform: uppercase
					tbody
						tr
							border-bottom: 1px solid $grey-d
							&:last-child
								border-bottom: none
							&:hover
								background-color: rgba($black, .09)
							&:nth-of-type(odd)
								background-color: rgba($black, .045)
								&:hover
									background-color: rgba($black, .09)

							td
								&.td-actions
									.btn-delete
										color: $white
										min-width: 30px
										padding-left: 0
										padding-right: 0
										text-align: center
										width: 100%

								form.form-stock-cantidad
									min-width: 100px
									max-width: 90%


					&.table-sm
						tbody
							tr
								td
									padding: 12px 0

				.table-productos-relacionados
					tbody
						tr
							td
								a
									// @extend .color-gray-400
									@extend .color-link
									@extend .fs-15
									@extend .fw-regular

				.table-stock-productos
					// background-color: red
					thead
						tr
							th
								color: $font-color
								font-size: $fs-14
								@extend .fw-bold
								padding: 8px 4px
								text-align: center
								vertical-align: middle
					
					tbody.productos-stock
						// background-color: green
						tr
							border-bottom: 1px solid $grey-d
							&:last-child
								border-bottom: none
							&:hover
								background-color: rgba($black, .09)
							&:nth-of-type(odd)
								background-color: rgba($black, .045)
								&:hover
									background-color: rgba($black, .09)
							td
								padding: 12px 4px
								text-align: center
								vertical-align: middle
								&.td-actions-number
									// background-color: green
									.td-actions-number-row
										align-items: center
										display: flex
										justify-content: flex-end
										.number-item-input,
										.number-item-btns
											text-align: center

										.number-item-input
											margin-right: 6px
											width: 100px
										
										.number-item-input
											input[type="number"]
												padding: 2px 8px
												width: 100%

										.number-item-btns
											display: flex
											justify-content: space-between
											width: 86px
											.number-item-btn-plus,
											.number-item-btn-minus
												width: 40px
												.btn.btn-primary
													min-width: 40px
													padding-left: 0
													padding-right: 0
													width: 40px
											.number-item-btn-plus
												margin-right: 6px

				.form-stock
					// background-color: green
					margin-top: 24px
					+respond-to(xs)
						margin-bottom: 24px
					.form-group
						.form-control
							height: calc(2.573rem + 2px)

					.actions-tooltip
						display: block
						width: 100%
						.btn-add-stock
							height: calc(2.573rem + 2px)
							min-width: 40px
							padding: 0
							text-align: center
							width: 100%

				.form-productos-relacionados
					+respond-to(xs)
						margin-bottom: 24px
					.btn-add-productos-relacionados
						height: 34px
						min-width: 40px
						padding: 0
						text-align: center
						width: 100%


	.list-panel.list-panel-productos-view
		// background-color: red

		.panels
			position: relative
			margin-bottom: 2.143rem
			@extend .bg-f
			border: 0 solid transparent
			border-radius: .286rem
			box-shadow: 0 1px 2px 0 rgba($black,.3)
			.panels-heading
				padding: 24px 24px
				h2.panels-title
					@extend .fs-18
					@extend .fw-bold
					@extend .ta-left
				h3.panels-subtitle
					@extend .fs-16
					@extend .fw-bold
					margin-top: 8px
					@extend .ta-left
			.panels-body
				padding: 0 24px 2px
				table.table.table-hover
					thead
						tr
							background-color: transparent
							&:nth-of-type(odd)
								background-color: transparent

				.table-productos,
				.table-eventos
					margin-bottom: 16px
					tbody
						tr
							border-bottom: 1px solid $grey-d
							&:last-child
								border-bottom: none
							&:hover
								background-color: rgba($black, .09)
							&:nth-of-type(odd)
								background-color: rgba($black, .045)
								&:hover
									background-color: rgba($black, .09)

							td
								// color: $font-color
								@extend .fs-13
								@extend .fw-regular
								line-height: 1.6

				&.panels-body-detalle-producto
					// background-color: green

					.panels-row
						align-items: center
						// background-color: green
						border-bottom: 1px solid $grey-d
						display: flex
						flex-wrap: wrap
						width: 100%
						&:last-child
							border-bottom: none
							margin-bottom: 16px
						&:hover
							background-color: rgba($black, .09)
						&:nth-of-type(odd)
							background-color: rgba($black, .045)
							&:hover
								background-color: rgba($black, .09)
							
						.panels-col-4
							margin-right: 12px
							text-align: right
							width: 160px
							+respond-to(tp)
								width: 100%
						.panels-col-6
							text-align: left
							width: calc(100% - 172px)
							+respond-to(tp)
								width: 100%
						.panels-col-4,
						.panels-col-6
							b,
							p
								display: block
								line-height: 3
								width: 100%
							b
								font-size: $fs-14
								@extend .fw-bold
							p
								font-size: $fs-16
								@extend .fw-regular
								// +respond-to(tp)
								// 	background-color: red
								// +respond-to(tx)
								// 	background-color: green
						
						.panels-col-full
							line-height: 1.6
							padding: 0 8px
							text-align: left
							width: 100%
							p
								display: inline-block
								@extend .fs-14
								@extend .fw-regular
								line-height: 1.45
								width: 100%
								b
									@extend .fw-bold
									margin-right: 12px



.outfits-view
	.list-panel-table
		margin-top: 32px

		h3.list-panel-title
			@extend .fs-18
			@extend .fw-bold
			margin-bottom: 16px
			@extend .text-up

		.table-outfits
			thead
				tr
					th
						color: $font-color
						@extend .fs-13
						@extend .fw-bold
						padding: 8px 4px
						text-transform: uppercase
			tbody
				tr
					border-bottom: 1px solid $grey-d
					&:last-child
						border-bottom: none
					&:hover
						background-color: rgba($black, .09)
					&:nth-of-type(odd)
						background-color: rgba($black, .045)
						&:hover
							background-color: rgba($black, .09)
					td
						a
							// @extend .color-gray-400
							@extend .color-link
							@extend .fs-15
							@extend .fw-regular





		.form-productos-relacionados
			.btn-add-producto-relacionado
				height: 34px
				min-width: 40px
				padding: 0
				text-align: center
				width: 100%
